<template name="autoProfileField_fileArray">
  {{#if fieldValue}}
    <h6 class="">{{fieldTitle}}</h6>
    {{#each value in fieldValue}}
      {{#if getLinkArray value}}
        <span class="icon-{{getIconType value}}"> </span>
        <a class="{{getClass value}}" href="{{getLinkArray value}}">
          {{#if enumerateFiles}}
            File {{plusOne @index}}
          {{else}}
            {{getFilename value}}
          {{/if}}
        </a>
        <br>
      {{/if}}
    {{/each}}
  {{else}}
  <h6 class="">{{fieldTitle}}</h6>
  {{/if}}
</template>
